@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0 auto;
    font-family: 'Inter', sans-serif !important;
}

#btncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#videocontainer {
    margin-top: 20px;
}

#thumbnail {
    border-radius: 7px;
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.categorybtn {}


.uploadtime {
    color: whitesmoke;
}

#uploadtime {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgb(237, 237, 237);
    padding: 2px;
    background-color: rgba(4, 3, 3, 0.383);
    padding-left: 6px;
    padding-right: 6px;
}

#detaildv {
    margin-top: 10px;
}

#author-img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
}
#btncontainer {
    margin-top: 20px;
}

#btncontainer .active {
    background-color: #dc3545;
    border: #dc3545;
   
    color: #fff;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

#error {
    height: 150px;
    width: auto;
}

/* #btncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
} */


.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}